.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    width: fit-content;
}

.content .myname {
    width: fit-content;
    white-space: nowrap;
    font-size: 40px;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 10px 20px;
    transform: skew(-20deg);
}


.content .job {
    margin-top: 20px;
    font-size: 30px;
}

.content .major {
    margin-top: 10px;
}

.content .cv-button>div {
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px gainsboro solid;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: 44px;
    cursor: pointer;
}

.image-box {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box .image-container img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}